NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4000/graphql
NODE_ENV=development
GA_PROPERTY_ID=your-GA_PROPERTY_ID
GA_CLIENT_EMAIL=your-GA_CLIENT_EMAIL
GA_PRIVATE_KEY=your-GA_PRIVATE_KEY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your-NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET
INTERNAL_API_SECRET=your-INTERNAL_API_SECRET